.callout {
  padding: var(--space-xs-s);
  border-radius: var(--border-radius);
  > * + * {
    margin-top: var(--space-3xs-2xs);
  }
}

.callout.details {
  padding: 0;
  border-radius: 0;
}

.callout.note {
  border-inline-start: solid var(--border-thick) var(--color-note-secondary);
  background-color: var(--color-note);
}

.callout.important {
  border-inline-start: solid var(--border-thick) var(--color-important-secondary);
  background-color: var(--color-important);
}

.callout.warning {
  border-inline-start: solid var(--border-thick) var(--color-warning-secondary);
  background-color: var(--color-warning);
}

.callout.new {
  border-inline-start: solid var(--border-thick) var(--color-new-secondary);
  background-color: var(--color-new);
}
