.content {
  // Maintain focus at top of page when tabbing
  scroll-margin-block-start: 10rem;
  @media (min-width: 60rem) {
    margin-inline-start: 18rem;
  }
  @media (min-width: 80rem) {
    margin-inline-end: 18rem;
  }
}
