.contact {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  --flow-space: 0;
  margin-block-start: 0;

  h2 {
    font-size: var(--step-1);
  }

  label:not(fieldset > label),
  input[value="Submit"] {
    display: block;
    cursor: pointer;
  }
  select {
    cursor: pointer;
  }

  input[type="text"],
  input[type="email"] {
    width: 20rem;
  }

  fieldset,
  textarea {
    width: var(--measure);
  }

  textarea {
    height: 20rem;
  }
}

.toggles {
  display: flex;
  gap: var(--space-xs);
}
