// Set on parent to place it beneath the mobile menu when expanded
.ontop {
  z-index: 1;
  position: relative;
}

.navbar {
  // Set variables/desktop state
  @media (min-width: 60rem) {
    --details-list-display: none;
    --nav-button-display: none;
    --nav-position: static;
    ul {
      --nav-list-background: transparent;
      --nav-list-layout: row;
      --nav-list-position: static;
      --nav-list-padding: 0;
      --nav-list-height: auto;
      --nav-list-width: 100%;
      --nav-list-shadow: none;
      --nav-list-transform: none;
      --nav-list-visibility: visible;
    }
  }

  // position: var(--nav-position, absolute);
  // inset-block-start: 0.5rem;
  // inset-inline-end: 0.1rem;
  details {
    display: var(--details-list-display, flex);
    ul {
      all: unset;
    }
  }
  ul {
    display: flex;
    gap: var(--space-s);
    box-shadow: var(--nav-list-shadow, 0px 10px 19px -7px rgba(0, 0, 0, 0.75));
    flex-direction: var(--nav-list-layout, column);
    // flex-wrap: wrap;
    height: var(--nav-list-height);
    max-height: 75vh;
    padding: var(--nav-list-padding, var(--space-m));
    position: var(--nav-list-position, fixed);
    inset-block-start: var(--offset); // Logical property. Equivalent to top: 0;
    inset-inline: 0; // Logical property. Equivalent to right: 0;
    width: var(--nav-list-width);
    visibility: var(--nav-list-visibility, visible);
    overflow: auto;
    background-color: var(--nav-list-background, var(--color-light));
    li {
      padding-inline-start: var(--space-m);
    }
  }

  // Mobile but not expanded
  [aria-expanded="false"] + ul {
    transform: var(--nav-list-transform, translateX(100%));
    visibility: var(--nav-list-visibility, hidden);
  }
  .mobile-button {
    all: unset;
    display: var(--nav-button-display, flex);
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;
    padding-right: var(--space-s-m);
  }
  span {
    padding-right: var(--space-2xs-xs);
  }
  svg {
    height: 100%;
    width: auto;
  }

  [aria-expanded="true"] svg {
    transform: var(--nav-list-rotate, rotate(45deg));
  }

  // Animates ul only when opening to avoid flash on page load, svg always
  @media (prefers-reduced-motion: no-preference) {
    [aria-expanded="true"] + ul,
    svg {
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.05s linear;
    }
  }
}
