.sidebar {
  @media (max-width: 60rem) {
    display: none;
  }
  max-height: calc(100vh - var(--offset));
  position: fixed;
  top: var(--offset);
  left: 0;
  bottom: 0;
  width: 18rem;
  padding-inline: var(--gutter);
  // border-inline-end: solid var(--color-grey-light) var(--border-thin);
  background-color: var(--color-light);
  overflow: auto;
}
