.site-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--offset);
  z-index: 2;
  --region-space-top: var(--space-s);
  --region-space-bottom: var(--space-s);
  padding-inline: var(--gutter);
  background-color: var(--color-light);
  a {
    text-decoration: none;
  }
  @media (min-width: 60rem) {
    a:is(:hover, :focus) {
      text-underline-offset: 0.5rem;
      text-decoration: underline 0.25rem;
    }
    [aria-current="page"] {
      text-underline-offset: 0.5rem;
      text-decoration: underline 0.25rem;
    }
  }
  @media (max-width: 60rem) {
    ul {
      padding-block: var(--space-3xs-2xs);
      li {
        // compensate for all nav li padding
        padding-inline-start: 0;
        a {
          padding-inline-start: var(--space-m);
        }
        a:is(:hover, :focus) {
          display: block;
          padding-inline-start: calc(var(--space-m) - var(--border-thin));
          border-inline-start: solid var(--border-thin);
          color: var(--color-dark);
          background-color: var(--color-grey-light-hover);
          text-decoration: none;
        }
        input {
          margin-inline-start: var(--space-m);
          margin-block-end: var(--space-m);
        }
      }
      [aria-current="page"] {
        display: block;
        padding-inline-start: calc(var(--space-m) - var(--border-thin));
        border-inline-start: solid var(--border-thin);
        color: var(--color-dark);
        background-color: var(--color-grey-light);
        text-decoration: none;
      }
    }
  }
}

.logo {
  a {
    // font-family: var(--font-display);
    text-decoration: none;
  }
}
