.site-header {
  --region-space-top: var(--space-xs-s);
  --region-space-bottom: var(--space-xs-s);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--color-light);
  nav {
    display: flex;
    ul {
      margin-inline-start: 7rem;
    }
  }
}
