table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    padding-block: var(--space-3xs-2xs);
    padding-inline: var(--space-3xs);
    border: var(--border-thin) solid var(--color-dark);
  }
  th {
    background-color: var(--color-tertiary);
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: var(--color-light-secondary);
  }
  tr:hover {
    background-color: var(--color-tertiary);
  }
}
