table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 0.1rem solid var(--color-dark);
    padding-block: var(--space-3xs-2xs);
    padding-inline: var(--space-3xs);
  }
  th {
    text-align: left;
    background-color: var(--color-new);
  }
  tr:nth-child(even) {
    background-color: lightgray;
  }
  tr:hover {
    background-color: rgb(166, 166, 166);
  }
}
