.content {
  // Provide a visual cue that focus is on main content
  scroll-margin-block-start: calc(var(--offset) - var(--space-l));
  @media (min-width: 60rem) {
    margin-inline-start: 18rem;
  }
  @media (min-width: 80rem) {
    margin-inline-end: 18rem;
  }
}
