{% assign currentPage = page.url %} {% for section in navigation.docs.sections %}
<details>
  <summary>{{ section.title }}</summary>
  <ul class="flow | nav-list" role="list">
    <li>
      {% if currentPage == section.url %}
      <a href="{{ section.url }}" aria-current="page">{{ section.title }}</a>
      {% else %}
      <a href="{{ section.url }}">{{ section.title }}</a>
      {% endif %}
    </li>
    {% for article in section.articles %}
    <li>
      {% if currentPage == article.url %}
      <a href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
      {% else %}
      <a href="{{ article.url }}">{{ article.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</details>
{% endfor %}
