{% assign currentPage = page.url %}

<footer class="region">
  <nav class="wrapper | prose | grid | docs-box">
    <ul role="list">
      <li>
        <h2>Docs</h2>
        <ul role="list">
          {% for section in navigation.docs.sections %}
          <li><a href="{{ section.url }}">{{ section.title}} </a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <ul role="list">
      <li>
        <h2>Resources</h2>
        <ul role="list">
          {% for page in navigation.pages %}
          <li><a href="{{ page.url }}" {% if currentPage == page.url %}aria-current="page"{% endif %}>{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  <div class="wrapper | region | prose"><p>&copy; {{ '' | getFullYear }}</p></div>
</footer>
