<a href="#article" class="skip-link">{{ metadata.skipContent }}</a>

<header class="region | site-header">
  <nav role="primary">
    <a href="/" tabindex="-1" style="text-decoration: none">{{ metadata.title }}</a>
    {% if breadcrumbs %}
      <ul class="breadcrumb">
        {% for item in breadcrumbs %}
        <li>{% if item.url %}<a href="{{ item.url }}">{{ item.title }}</a>{% else %}{{ item.title }}{% endif %}</li>
        {% endfor %}
        <li>{{ title }}</li>
      </ul>
    {% endif %} 
  </nav>
</header>
