{% assign currentPage = page.url %}

<footer class="region | content">
  <nav class="wrapper | region | grid | docs-box">
    <ul role="list">
      <li>
        <h2>Docs</h2>
        <ul class="flow | nav-list" role="list">
          {% for section in navigation.docs.sections %}
          <li><a href="{{ section.url }}">{{ section.title}} </a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <ul role="list">
      <li>
        <h2>Resources</h2>
        <ul class="flow | nav-list" role="list">
          {% for page in navigation.pages %}
          <li>
            {% if currentPage == page.url %}
            <a href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
            {% else %}
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  <div class="wrapper | region | prose"><p>&copy; {{ '' | getFullYear }}</p></div>
</footer>
