---
layout: base.html
---

<article id="article" class="region | content | home">
  {% include 'partials/aside.html' %}
  <header class="wrapper | flow | page-header"><h1>{{ title }}</h1></header>
  <article class="wrapper | flow | prose">
    {{ content }}
    <article class="grid">
      {% for item in navigation.docs %}
      <ul class="docs-box">
        <li>
          <h2>{{ item.section }}</h2>
          <ul role="list">
            {% for item in item.articles %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endfor %}
    </article>
    {% include 'partials/help.html' %}
  </article>
</article>
