---
layout: base.html
---

{% include 'partials/sidebar.html' %}
<article id="content" class="region | content">
  {% include 'partials/page-header.html' %}
  <article class="wrapper | flow | prose">
    {{ content }}
    <div class="grid | docs-box">
      {% for section in navigation.docs.sections %}
      <ul role="list">
        <li>
          <h2>{{ section.title }}</h2>
          <ul class="flow | nav-list" role="list">
            <li><a href="{{ section.url }}">{{ section.title }}</a></li>
            {% for article in section.articles %}
            <li><a href="{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endfor %}
    </div>
    {% include 'partials/help.html' %}
  </article>
</article>
