@use "./cube";
@use "./fonts";
@use "./reset";
@use "./settings";

body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-base);
  font-size: var(--step-0);
}

footer {
  text-align: center;
  --region-space-top: var(--space-m);
  --region-space-bottom: var(--space-m);
  --wrapper-max-width: 60rem;
  padding-inline: var(--gutter);
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

h5 {
  font-size: var(--step--1);
}

h6 {
  font-size: var(--step--2);
}

h2,
h3,
h4 {
  scroll-margin-top: var(--space-3xl);
}

strong {
  font-family: AuthenticBold;
}

a {
  color: currentColor;
  text-decoration: underline 0.1rem;
}

a:is(:hover, :focus) {
  text-underline-offset: 0.35rem;
}

a:not([href*="11ty-docs-prototype.com/"]):not([href^="#"]):not([href^="/"]):after {
  display: inline-block;
  width: 1.25em;
  height: 1em;
  background-image: url("/assets/images/external-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
  /* alternative text rules */
  content: "(external link)";
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1.25em; /* the width of the icon */
}

hr {
  border: none;
  border-top: solid 0.1rem var(--color-dark);
}

summary {
  cursor: pointer;
}

img {
  border-radius: var(--border-radius);
}

.menu {
  @media (max-width: 60rem) {
    display: none;
  }
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18rem;
  padding-inline: var(--gutter);
  margin-block-start: var(--space-xl);
  background-color: var(--color-light);
  font-size: var(--step--1);
  h2 {
    display: inline-block;
    font-size: var(--step-0);
    font-weight: bold;
  }
  a:is(:hover, :focus) {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0.25rem;
    margin: -0.25rem;
    text-decoration: none;
  }
  [aria-current="page"] {
    color: var(--color-light);
    background-color: var(--color-dark);
    padding: 0.25rem;
    margin: -0.25rem;
    text-decoration: none;
  }
  [aria-current="page"]:focus {
    outline: double var(--color-dark) 0.5rem;
  }

  // Todo: switch to postcss + autoprefixer

  details {
    summary {
      list-style: none;
    }
    ul {
      list-style: none;
      padding-inline: var(--space-m);
      padding-block: var(--space-3xs-2xs);
    }
    summary::-webkit-details-marker {
      display: none;
    }
    summary::before {
      display: inline-block;
      width: 1.65em;
      height: 1em;
      background-image: url("/assets/images/plus.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60% auto;
      // alternative text rules
      content: "(details list marker)";
      overflow: hidden;
      white-space: nowrap;
      text-indent: 1.65em; // the width of the icon
    }
  }

  details[open] {
    summary::before {
      background-image: url("/assets/images/minus.svg");
    }
  }
}

// Todo: margin on home page
.content {
  @media (min-width: 60rem) {
    margin-inline-start: 18rem;
  }
  @media (min-width: 80rem) {
    margin-inline-end: 18rem;
  }
}

.table-of-contents {
  @media (min-width: 80rem) {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 18rem;
    padding-inline: var(--gutter);
    padding-block: var(--space-s);
    margin-top: var(--space-xl);
    background-color: var(--color-light);
    font-size: var(--step--1);
    h2 {
      display: inline-block;
      font-size: var(--step-0);
      font-weight: bold;
    }
    ol {
      margin-top: 0;
    }
  }
}

.docs-box {
  h2 {
    font-size: var(--step-1);
  }
  ul {
    list-style: none;
    padding-inline: 0;
    padding-block: var(--space-3xs-2xs);
  }
}
